

.container-header p{
    padding-top:6px;
    color:gray;
}

.container-home {
    padding-top:10px;
}

.home p{
    font-weight:bold;
}

/* .container-row {
    padding-bottom:10px;
} */

/* .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #D3D3D3;
    color: black;
    text-align: center;
    height: 12px;
}

.jenis .row {
    padding-top: 750px;
    justify-content: center;
    text-align: center;
    left: 50%;
    position: absolute;
    width: 90%;
    transform: translate(-50%, -50%);
} */